header
	h1.title PROJECTS
	//- hr
section#projects
	- each project in projects
		article.project.white-card
			.project-logo(style="background-image: url(../img/#{project.logo}.svg);")
			h4.project-name #{project.name}
			hr
			p.project-description
				| #{project.description}
			h5.tech-title TECHNOLOGIES USED
			ul#tech-list
				- each tech in project.tech
					li(id="#{tech.logo}", tech-name="#{tech.name}", class="tech", style="background-image: url(../img/#{tech.logo}.svg);")
			
			//- .white-card
				//- .project-logo(id="#{project.logo}", style="background-image: url(../img/#{project.logo}.svg);")
			//- h4.more-info.show-info #{project.name}
include ../includes/social